body { background-image: url(https://as1.ftcdn.net/jpg/01/92/60/52/500_F_192605281_ajxmu8Ly2xmOQeSjslTCvn20xirvsilI.jpg)
    ;
    
}
header { 
    text-align: left;
    font-size: 40px;
    ;
    
}
.col-md-7 { 
    background: lightgreen;
    margin-top: 5%;
    margin-left: 2%;
   
    
}

 
body { 
   
    text-align:center; 
} 

  

.picture { 
    width: 200px; 
    height: 200px; 
    float: left; 
    margin-right:  20px;
    

} 
  
p { 
    text-align: justify; 

   
} 
 
.container {
    position: relative;
    padding-top: 10px; 
    display: inline-block; 
    margin-top: 5%;
    border-radius: 5px;
    padding: 10px;
    
}

* {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
#contact {background: lightgreen;}
  
 

  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    text-align: left;
  }
  

  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }